---
title: My Story
hero: My Story
---

<p class="editor-link" style="text-align: center; position: relative;
    top: -185px;"><a href="cloudcannon:collections/_staff_members/" class="btn"><strong>&#9998;</strong> Manage Staff members</a></p>
<ul class="staff">
	{% for person in site.staff_members %}
		<li>
			<div class="staff-image" style="background-image: url({% include relative-src.html src=person.image_path %})"></div>
			<div class="name">{{ person.name }}</div>
		</li>
	{% endfor %}
</ul>

<div class="thirds story-points">
	<div>
		<h3 class="editable">
			
		</h3>
		<p class="editable">
			
		</p>
	</div>
	<div>
		<h3 class="editable">
			A Bit About Me
		</h3>
		<p class="editable">
			Hi! I'm a sophomore year college student studying in Criminal Justice. I enjoy taking macro photos of the world around me and crochet in my free time.&nbsp;
		</p>
	</div>
	<div>
		<h3 class="editable">
			
		</h3>
		<p class="editable">
			
		</p>
	</div>
</div>
